body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.top-nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.top-nav li {
    margin-right: 20px;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
}

.top-nav a:hover {
    color: #ccc;
}

/* Container for images */
.project3-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
    margin: 0;
}

.project3-box {
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    position: relative;
    height: 200px; /* Set the height of each project */
}

.project3-box img {
    width: 100%;
    height: 100%; /* Set the height of each image to 100% of the project height */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.project3-box img:hover {
    transform: scale(1.1);
}

.project3-box h4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.project3-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    position: absolute;
    bottom: -30px;
    left: 0;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    text-align: centre;
}

.project3 {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url('images/project 3/projback.jpeg');
}

.back-to-home {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-to-top:hover,
.back-to-home:hover {
    background-color: #555;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .project3-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .project3-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}